.about {
  position: relative;
  height: 278px;
  padding-top: 28px;
  margin-bottom: 135px;

  font-family: Oswald;
  text-align: center;
  font-weight: 500;
  color: #ffffff;

  background-image: url("/img/index-background-mobile@1x.jpg");
  background-color: #68b738;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__header {
  margin: 0;
  padding-bottom: 11px;

  font-size: 36px;
  line-height: 36px;
}

.about__description {
  padding-bottom: 14px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

