.add-products__gifts {
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-color: #68b738;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 232px 79px 32px 70px;
}

.add-products__gifts-text {
  position: relative;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.add-products__gifts-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -154px;
  left: 39px;
  width: 56px;
  height: 61px;

  background-image: url("/img/icon-gift.svg");

  background-repeat: no-repeat;
  background-size: cover;
}

.add-products__header {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-weight: 500;
}

.product-list {
  padding: 0;
}

.product-list__item {
  margin: 0;
  padding-bottom: 17px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-list__item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.product-list__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 500;
}

.product-list__contain {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contain__text,
.contain__description {
  margin: 0;
  width: 49%;

  font-size: 14px;
  line-height: 14px;
}

.contain__description {
  text-align: right;
}
