.add-products {
  padding: 0;
  position: relative;
}

.add-products__gifts {
  padding: 171px 59px 27px 60px;
  margin-bottom: 34px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @include back(#68b738, cover);
}

.add-products__gifts-text {
  position: relative;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -206%;
    left: 32%;
    width: 56px;
    height: 61px;

    background-image: url("../img/icon-gift.svg");

    @include back(transparent, cover);
  }
}

.add-products__header {
  margin: 29px 0 0 0;
  width: 87%;
  max-width: 250px;
  padding-bottom: 19px;
  background-color: #ffffff;

  @include Oswald-style(24px, 24px, #111111, left, none);

  &::before {
    position: absolute;
    content: "";
    width: 93vw;
    height: 3px;
    top: 13px;
    z-index: -1;
    background-color: red;
  }
}

@media (min-width: $tablet-width) {
  .add-products {
    margin: 87px -30px 75px -30px;
    padding: 0 30px;

    border-top: 3px solid #68b738;
  }

  .add-products__header {
    margin: -25px 0 80px -2px;
    padding: 0 38px;
    width: 48%;

    @include Oswald-style(36px, 36px, #111111, left, none);

    background-color: #ffffff;
  }

  .add-products__gifts {
    display: flex;
    justify-content: space-between;
    padding: 56px 124px 52px 424px;
    margin-bottom: 0;
  }

  .add-products__gifts-text {
    text-align: left;

    &::before {
      top: -7px;
      left: -334px;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 86px;
  }

  .add-products__header {
    display: block;
    margin: -24px 0 79px -21px;
    width: 28%;
  }

  .add-products__product-list {
    width: 72%;
    padding: 0 0 0 19px;
    margin: 0;

    border-left: none;
    border-right: none;
  }

  .add-products__gifts {
    padding: 183px 0 0 0;
    max-width: 20%;
  }

  .add-products__gifts-text {
    margin: 0;
    text-align: center;
    padding: 0 43px 0 44px;

    &::before {
      top: -118px;
      left: 99px;
    }
  }
}
