.benefits {
  position: relative;
}

.benefits__header {
  margin: 38px 0 49px 0;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.benefits__list-text {
  padding-top: 2px;
}

.benefits__list-item {
  position: relative;
  display: flex;
  padding-bottom: 20px;
}

.benefits__list-text {
  width: 70%;
  margin: 0;
}

.benefits__list-item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 20px;

  background-color: #68b738;
}

.benefits__list-item::after {
  content: "";
  display: block;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 5px;

  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__list-item:nth-child(1)::after {
  width: 50px;
  height: 50px;

  background-image: url("/img/advantage-leaf@1x.png");
}

.benefits__list-item:nth-child(2)::after {
  width: 50px;
  height: 50px;

  background-image: url("/img/advantage-powder@1x.png");
}

.benefits__list-item:nth-child(3)::after {
  width: 40px;
  height: 50px;

  background-image: url("/img/advantage-dining@1x.png");
}

.benefits__list-item:nth-child(4)::after {
  width: 45px;
  height: 50px;

  background-image: url("/img/advantage-clock@1x.png");
}
