.catalog-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0;
  padding: 0 20px 25px 20px;

  border-bottom: solid 1px #ededed;

  &:last-of-type {
    display: block;
    text-align: center;
    padding: 22px 21px 22px 19px;

    .catalog-item__header {
      padding: 25px 0 3px 0;

      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }

    .catalog-item__text {
      margin: 0;
      padding: 5px 0 25px 0;

      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.9px;
    }

    .catalog-item__img {
      display: block;
      width: 100%;

      opacity: 0.2;
    }
  }
}

.catalog-item__img {
  width: 140px;
  height: 144px;

  &--last {
    width: 31px;
    height: 31px;
  }
}

.catalog-item__info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.catalog-item__header {
  position: relative;
  margin: 0;
  padding: 21px 50px 0 0;

  @include Oswald-style(16px, 20px, #111111, left, uppercase);
  text-decoration: none;
}

.catalog-item__link {
  width: 100%;

  @include green-button(10px 0);
  @include Oswald-style(16px, 20px, #ffffff, center, uppercase);

  &:nth-child(odd) {
    margin: -4px 0 -1px 0;
  }

  &:nth-child(even) {
    margin: -2px 0 0 0;
  }

  &--more {
    display: block;
    flex-grow: 1;
    padding: 10px 0;
    width: 100%;

    @include Oswald-style(16px, 20px, #111111, center, uppercase);
    text-decoration: none;

    background-color: #f2f2f2;
  }

  &--more:hover,
  &--more:focus {
    background-color: #ebebeb;
  }

  &--more:active {
    color: rgba(68, 68, 68, 0.3);

    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    position: relative;
    padding: 162px 37px 41px 38px;
    margin-bottom: 140px;
    width: 249px;

    background-color: #f2f2f2;
    border-bottom: none;

    &:last-of-type {
      padding: 115px 37px 32px 35px;

      background-color: inherit;
      border: 1px solid #cdcdcd;

      .catalog-item__header {
        padding: 50px 45px 24px 46px;

        text-align: center;
        font-size: 20px;
        line-height: 20px;
        color: #111111;
      }

      .catalog-item__text {
        padding: 0 42px 88px 40px;

        font-size: 16px;
        line-height: 19px;
        color: #444444;
        letter-spacing: 0;
      }
    }
  }

  .catalog-item:nth-child(odd) {
    .catalog-item__img {
      width: 326px;
      height: 172px;
      top: -47px;
      right: 0;
    }
  }

  .catalog-item:nth-child(even) {
    .catalog-item__img {
      width: 327px;
      height: 208px;
      top: -83px;
      right: 0;
    }
  }

  .catalog-item:last-child {
    .catalog-item__img--last {
      width: 61px;
      height: 61px;
      top: 55px;
      right: 129px;
    }
  }

  .catalog-item__info {
    width: 100%;
    padding-bottom: 29px;
  }

  .catalog-item__img {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }

  .catalog-item__header {
    padding: 0 48px 27px 49px;

    font-size: 20px;
    text-align: center;
  }

  .catalog-item__link {
    margin: 25px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__info {
    padding: 0 0 29px 0;
    margin: 0;
  }

  .catalog-item {
    width: 170px;
    margin-top: 0;
    margin-bottom: 141px;
    left: 0;

    &:last-of-type {
      padding-top: 112px;

      .catalog-item__header {
        padding: 49px 8px 5px 10px;
      }

      .catalog-item__text {
        padding: 22px 0 86px 0;

        font-size: 16px;
        color: #444444;
      }
    }
  }

  .catalog-item:nth-child(even) {
    .catalog-item__img {
      height: 210px;
      width: 245px;
      right: 0;
    }
  }

  .catalog-item:nth-child(odd) {
    .catalog-item__img {
      height: 172px;
      width: 245px;
      right: 0;
      top: -45px;
    }
  }

  .catalog-item:last-child {
    .catalog-item__img {
      width: 61px;
      height: 61px;
      top: 56px;
      right: 90px;
    }
  }

  .catalog-item__img {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    content: "";
  }

  .catalog-item__header {
    padding: 0 8px 28px 8px;
  }
}
