.catalog {
  margin: 4px -20px 0 -20px;
}

.catalog__list {
  padding: 0;
  margin: 0 0 -3px 0;

  list-style-type: none;

  border-top: solid 1px #ededed;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 164px 0 0 0;
    margin: 0 0 -134px 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    border-top: 1px solid transparent;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0;
    margin: 0;
  }

  .catalog__list {
    width: 100%;
    margin: 164px 0 -119px 0;
  }
}
