.developer__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  text-decoration: none;

  &:hover,
  &:focus {
    .developer__img {
      filter: none;
    }
  }

  &:active {
    .developer__img,
    .developer__name {
      opacity: 0.3;
    }
  }
}

.developer__name {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
}

.developer__img {
  filter: grayscale(1) brightness(2) invert(1);
}

@media (min-width: $tablet-width) {
  .developer {
    display: inline-flex;
    width: 24%;
    padding-bottom: 12px;
  }

  .developer__img {
    width: 41px;
    height: 41px;
  }
}

@media (min-width: $desktop-width) {
  .developer {
    display: inline;
    width: 15%;
  }
}
