.developer__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  text-decoration: none;
}

.developer__name {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
}

.developer__img {
  filter: grayscale(1) brightness(2) invert(1);
}

.developer__link:hover,
.developer__link:focus {
  .developer__img {
    filter: none;
  }
}

.developer__link:active {
  .developer__img,
  .developer__name {
    opacity: 0.3;
  }
}

