.header {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 11px 19px;

  align-items: center;
  justify-content: space-between;

  border-bottom: solid 1px #ededed;
}

.header__logo-link {
  &:hover .header__logo,
  &:focus .header__logo {
    opacity: 0.8;
  }

  &:active .header__logo {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding: 21px 30px 0 30px;
    border-bottom: none;
  }

  .header__logo {
    width: auto;
    height: auto;
  }

  .header__logo-link {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 53px 110px 0 109px;
    border-bottom: none;
  }

  .header__logo {
    width: auto;
    height: auto;
  }

  .header__logo-link {
    width: 203px;
    height: 60px;
    padding-bottom: 6px;
  }
}
