.header {
  width: 100vw;
  max-width: 100%;

  border-bottom: solid 1px #ededed;
}

.header__logo-link {
  padding: 10px 0 11px 19px;

  &:hover .header__logo,
  &:focus .header__logo {
    opacity: 0.8;
  }

  &:active .header__logo {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding: 23px 31px 0 29px;
    border-bottom: none;
    width: auto;
  }

  .header__logo {
    width: auto;
    height: auto;
  }

  .header__logo-link {
    width: 174px;
    height: 59px;

    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 53px 40px 0 40px;
    border-bottom: none;
  }

  .header__logo {
    width: auto;
    height: auto;
  }

  .header__logo-link {
    width: 203px;
    height: 60px;
  }
}
