@import "../mixin.scss";
@import "../variables.scss";

.main-nav {
  display: block;
  flex-grow: 1;
  padding-top: 11px;
}

.main-nav__toggle {
  width: 25px;
  height: 19px;

  border: none;
  background-image: url("/img/icon-mobile-menu.svg");
}

.main-nav__list {
  padding: 0;
  margin: 0 -20px;

  list-style-type: none;
}

.main-nav__list-item {
  border-top: 1px solid #ededed;
  padding: 20px 0;

  @include Oswald-style(20px, 20px, #111111, center, uppercase);
}

.main-nav__list-link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &--active {
    color: #111111;
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 0 0 41px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .main-nav__list-item {
    border-top: none;

    @include Oswald-style(18px, 25px, #222222, center, uppercase);
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 0 0 41px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }

  .main-nav__list-item {
    border-top: none;
  }

  .main-nav__list-link {
    @include Oswald-style(20px, 25px, #111111, left, uppercase);
  }

  .main-nav__list-link--white {
    text-decoration: none;

    @include Oswald-style(20px, 25px, #ffffff, left, uppercase);

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &-active {
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
    }
  }
}
