@import "../mixin.scss";
@import "../variables.scss";

.main__header {
  margin: 0;
  padding: 15px 20px 28px 20px;

  @include Oswald-style(36px, 60px, #111111, left, none);
}

@media (min-width: $tablet-width) {
  .main__header {
    padding-bottom: 156px;

    @include Oswald-style(60px, 60px, #111111, left, none);
  }
}
