.menu-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin-top: -3px;
}

.menu-form__options-button {
  margin: 35px 0 21px 0;
  width: 100%;

  @include green-button(9px 0);
  @include Oswald-style(16px, 20px, #ffffff, center, uppercase);
}

.menu-form__options-note {
  margin: 0 0 31px 0;

  line-height: 16px;
  text-align: center;
}

.menu-form__row {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .menu-form {
    padding: 3px 38px 49px 40px;
  }

  .menu-form__options-button {
    padding: 17px 26px;
    margin: 0;
    width: 45%;
    display: inline-block;
    vertical-align: middle;

    @include Oswald-style(20px, 20px, #ffffff, center, uppercase);
  }

  .menu-form__options-note {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 0 0 57px;

    text-align: center;
    font-size: 16px;
  }

  .menu-form__row {
    flex-direction: column;
  }

  .menu-form__submit {
    margin: -12px 0 2px 0;
  }
}

@media (min-width: $desktop-width) {
  .menu-form {
    margin: 0;
    padding: 67px 0 39px 0;
  }

  .menu-form__options-button {
    padding: 17px 0;
    margin: 28px 0 17px 0;
    width: 47%;
    flex-grow: 0;
  }

  .menu-form__options-note {
    margin: 6px 0 0 73px;
    text-align: left;
  }

  .menu-form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px 0 0;
    width: 100%;
  }

  .menu-form__submit {
    margin: 9px 0 0 0;
  }
}
