.options {
  display: block;
  padding: 0;
  margin: 29px 0 0 0;

  border: none;

  &:first-child {
    margin-top: 0;
  }
}

.options__header--border {
  margin: 0 0 54px 0;
  position: relative;

  font-size: 36px;
  line-height: 36px;

  &::before {
    content: "";
    display: inline-block;
    width: 100vw;
    height: 3px;
    margin-right: 40px;
    margin-left: -113vw;
    vertical-align: middle;

    background-color: #68b738;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100vw;
    height: 3px;
    margin-right: -100vw;
    margin-left: 17px;
    vertical-align: middle;

    background-color: #68b738;
  }
}

@media (min-width: 450px) and (max-width: $tablet-width - 1) {
  .options__header--border::before {
    margin-left: -107vw;
  }
}

.options__header-br {
  position: absolute;
  display: block;
  width: 100%;
}

.options--bordered {
  padding: 22px 18px 22px 18px;
  margin: 23px -20px 0 -20px;

  border: 1px solid #ededed;
}

.options--bordered .options__label {
  margin-bottom: 11px;
}

.options__label:last-child {
  margin-bottom: 0;
}

.options__header {
  display: inline;
  width: 100%;

  @include Oswald-style(24px, 24px, #111111, left, none);

  &--mod {
    margin-bottom: 23px;
  }
}

.options__label {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 14px;
}

.options__name {
  align-items: center;
  padding-right: 14px;

  @include Oswald-style(16px, 18px, #222222, left, uppercase);
  white-space: nowrap;

  &--mod {
    padding-right: 9px;
  }
}

.options__input {
  width: 100%;
  padding: 4px 11px 9px 13px;

  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: 1px solid transparent;

  @include Oswald-style(20px, 20px, #444444, left, uppercase);

  &::placeholder {
    @include Oswald-style(16px, 20px, #444444, left, uppercase);
  }
}

.options__input-email,
.options__input-phone {
  position: absolute;

  fill: #222222;
}

.options__input-email {
  top: 4px;
  right: 17px;
}

.options__input-phone {
  top: 14px;
  right: 13px;
}

.options__textarea {
  display: inline-block;
  vertical-align: middle;
  min-height: 124px;
  padding: 11px 11px 13px 13px;
  margin-top: -20px;
  resize: none;

  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
}

.options__input:hover,
.options__textarea:hover {
  border: 1px solid rgba(205, 205, 205, 1);
  outline: 2px solid transparent;
}

.options__input:focus,
.options__textarea:focus {
  border: solid 1px #444444;
  outline: 1px solid #444444;

  ~ .options__input-email,
  ~ .options__input-phone {
    fill: #68b738;
  }
}

.options__input:invalid,
.options__textarea:invalid {
  border: 1px solid #ff8282;
  outline: 1px solid #ff8282;
  outline-offset: 0;

  ~ .options__input-email,
  ~ .options__input-phone {
    fill: #ff8282;
  }
}

.options__checkbox:hover + .options__name::before,
.options__radio:hover + .options__name::before {
  border: solid 1px #bababa;
}

.options__checkbox:active + .options__name,
.options__radio:active + .options__name {
  opacity: 0.3;
  border-color: #bababa;
}

.options__checkbox:focus + .options__name,
.options__radio:focus + .options__name {
  outline: -webkit-focus-ring-color auto 5px;
}

.options__checkbox + .options__name::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin-right: 17px;

  border: solid 1px #cdcdcd;
}

.options__checkbox:checked + .options__name::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 22px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.options__radio + .options__name::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 16px;

  border: solid 1px #cdcdcd;
  border-radius: 25px;
}

.options__radio:checked + .options__name::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 5px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 4px;

  border-radius: 25px;
  background-color: #68b738;
}

.options__list {
  margin: -20px 0 0 0;
}

@media (min-width: $tablet-width) {
  .options {
    margin: 29px 0 26px 0;
  }

  .options__header--border {
    margin: -10px 0 0 0;
  }

  .options__col-half {
    width: 100%;
  }

  .options--bordered {
    width: auto;
    margin: 73px 0 36px 0;
    padding: 22px 31px 12px 28px;
  }

  .options--bordered .options__name {
    margin-top: 1px;

    letter-spacing: 0;
  }

  .options--bordered .options__label {
    margin-bottom: 10px;
  }

  .options__name {
    padding-right: 17px;

    letter-spacing: 0.3px;

    @include Oswald-style(20px, 20px, #222222, left, uppercase);
  }

  .options__input {
    padding: 10px 11px 10px 19px;

    &::placeholder {
      @include Oswald-style(20px, 25px, #444444, left, uppercase);
    }
  }

  .options__textarea {
    min-height: 139px;
    padding: 16px 11px 18px 19px;
    margin-top: 1px;
  }

  .options__input-email {
    top: 6px;
  }

  .options__input-phone {
    top: 16px;
    right: 17px;
  }

  .options__name--mod {
    padding-right: 13px;
  }

  .options__label {
    margin-bottom: 20px;
  }

  .options__header {
    width: auto;
    margin: 0 0 64px 0;
    padding: 10px 0;

    @include Oswald-style(36px, 36px, #111111, left, none);

    &-br {
      display: inline;
      position: absolute;
      width: 87%;

      background-color: white;
    }
  }

  .options__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 8px 4px 0;

    .options__label {
      width: 45%;
      margin-bottom: 30px;
    }

    .options__name {
      margin-top: 1px;
      margin-left: 2px;
      letter-spacing: 0;
    }
  }

  .options__radio + .options__name::before {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }

  .options__radio:checked + .options__name::after {
    width: 18px;
    height: 18px;
    top: 13px;
    left: 8px;
  }

  .options__checkbox + .options__name::before {
    width: 38px;
    height: 38px;
  }

  .options__checkbox:checked + .options__name::after {
    width: 21px;
    height: 16px;
    top: 11px;
    left: 11px;
  }

  .options__header--border::before {
    margin-left: -105vw;
  }

  .options__header--border::after {
    margin-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .options {
    margin: 29px 0 -11px 0;
  }

  .options:nth-child(4) {
    margin-top: 36px;
  }

  .options--bordered {
    margin: 0;
    width: 42%;
  }

  .options__header--border {
    padding: 40px 0 11px 0;

    &::before {
      margin-left: -103vw;
      position: absolute;
      top: 60px;
    }

    &::after {
      margin-left: 40px;
    }
  }

  .options__label--mod {
    margin-right: 68px;
  }

  .options__list {
    width: 102%;
    padding: 13px 0 0 0;

    .options__label {
      width: 22%;
    }
  }

  .options__col-half {
    width: 47%;
    margin: 0;
  }

  .options__header--style {
    padding: 49px 0 0 0;

    &::before {
      top: 71px;
    }
  }

  .options__radio:checked + .options__name::after {
    top: 12px;
  }

  .options__input-email {
    right: 23px;
  }
}
