.programs-item {
  position: relative;
  padding: 30px 32px 19px 19px;
  margin: 0 0 20px 0;

  background-color: #f2f2f2;
}

.programs-item__header {
  margin: 0;
  padding-right: 47px;

  @include Oswald-style(24px, 37px, #111111, right, uppercase);

  &--pro {
    padding-right: 19px;
  }

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    left: 22px;
    top: 24px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &--slim::after {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 49px;
    left: 30px;
    top: 23px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 67px;
    height: 28px;
    left: 13px;
    top: 35px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.programs-item__link {
  @include Oswald-style(16px, 16px, #111111, right, uppercase);
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 12px;
    margin-left: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    width: 34px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.programs-item__description {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 29px 0 24px 0;
  margin: 0 0 18px 0;
}

@media (min-width: $tablet-width) {
  .programs-item {
    margin: 0 0 30px 0;
    padding: 76px 282px 56px 52px;
  }

  .programs-item__header {
    @include Oswald-style(36px, 37px, #111111, left, uppercase);

    &::before {
      width: 200px;
      height: 200px;
      left: auto;
      right: 61px;
      top: 92px;
    }

    &--slim::after {
      width: 141px;
      height: 194px;
      left: auto;
      right: 91px;
      top: 80px;
    }

    &--pro::after {
      width: 268px;
      height: 113px;
      left: auto;
      right: 28px;
      top: 135px;
    }

    &--pro + .programs-item__description {
      padding-right: 30px;
    }
  }

  .programs-item__description {
    padding: 25px 0 38px 0;

    border-bottom: none;
  }

  .programs-item__link {
    @include Oswald-style(20px, 20px, #111111, left, uppercase);

    &::after {
      width: 24px;
      height: 17px;
      margin-left: 24px;
    }

    &:hover::after,
    &:focus::after {
      width: 34px;
      height: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs-item {
    width: 40%;
    padding: 76px 30px 55px 53px;
  }

  .programs-item:first-child .programs-item__header {
    padding-left: 43px;
  }

  .programs-item:last-child .programs-item__header {
    padding-left: 61px;
  }

  .programs-item__header {
    @include Oswald-style(36px, 37px, #111111, center, uppercase);

    &::before {
      width: 100px;
      height: 100px;
      left: 53px;
      top: 47px;
    }

    &--slim::after {
      width: 71px;
      height: 97px;
      left: 67px;
      top: 41px;
    }

    &--pro::after {
      width: 134px;
      height: 57px;
      left: 36px;
      top: 68px;
    }
  }

  .programs-item__description {
    padding: 74px 0 31px 0;
    margin: 0;

    font-size: 16px;
    line-height: 24px;
  }
}
