.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 82px 16px 73px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  list-style-type: none;
}

.social__link {
  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: red;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon--vk {
  width: 22px;
  height: 12px;
}

.social-list__icon--insta {
  width: 16px;
  height: 16px;
}

.social-list__icon--fb {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social-list {
    display: inline-flex;
    flex-wrap: wrap;
    width: 18%;
    max-width: 140px;
    padding: 0 0 4px 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    border-bottom: none;
  }

  .social-list__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    width: 10%;
    padding-left: 5px;
  }
}
