.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 16px 20px;
  margin-bottom: 20px;

  list-style-type: none;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social-list__item {
  margin: 0 auto;
  padding: 0 15px;
  width: 15px;
}

.social-list__icon {
  fill: #666666;
}

.social-list__link:hover,
.social-list__link:focus {
  .social-list__icon {
    fill: #68b738;
  }
}

.social-list__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 0 4px 0;
    margin: 0;
    align-items: center;

    border-bottom: none;
  }

  .social-list__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
}
